# Ported from programs.mpv in modules/packages/mpv/mpv.nix.
# Managed by Ansible.

window-maximized=yes
screenshot-dir={{ dotfiles_home }}/Documents/enc
screenshot-template=mpv-shot-%tY-%tm-%td-%tHh%tMm%tSs-%f
script-opts-add=osc-visibility=always
keep-open=yes
mute=no
ao=pulse
