LANG={{ dotfiles_locale_default }}
LC_ADDRESS={{ dotfiles_locale_extra }}
LC_IDENTIFICATION={{ dotfiles_locale_extra }}
LC_MEASUREMENT={{ dotfiles_locale_extra }}
LC_MONETARY={{ dotfiles_locale_extra }}
LC_NAME={{ dotfiles_locale_extra }}
LC_NUMERIC={{ dotfiles_locale_extra }}
LC_PAPER={{ dotfiles_locale_extra }}
LC_TIME={{ dotfiles_locale_extra }}
LC_TELEPHONE={{ dotfiles_locale_extra }}
